<div class="page-header">
  <h3 class="page-title">Create Invoice</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:;">Invoice Management</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Create Invoice</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Invoice No</label>
                <span class="text-danger">*</span>
                <input class="form-control" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Hospital</label>
                <span class="text-danger">*</span>
                <select class="form-control">
                  <option>Mayo Hospital</option>
                  <option>Service Hospital</option>
                  <option>Shafi Hospital</option>
                  <option>General Hospital</option>
                </select>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label>Address</label>
                <textarea class="form-control"></textarea>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Remarks</label>
                <textarea class="form-control"></textarea>
              </div>
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr class="table-success">
                      <td>Action</td>
                      <td>Sr</td>
                      <td>Service</td>
                      <td>Monthly Charges (Without Tax)</td>
                      <td>Qty</td>
                      <td>Total Amount (Without Tax)</td>
                      <td>Tax %</td>
                      <td>Sales Tax Amount</td>
                      <td>Total Amount (Including Tax)</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <button type="button" class="btn btn-gradient-danger">
                          <i class="mdi mdi-delete-forever"></i>
                        </button>
                      </td>
                      <td>1</td>
                      <td>
                        <p-dropdown
                          appendTo="body"
                          [options]="groupedServices"
                          placeholder="Select a Service"
                          [group]="true"
                          [filter]="true"
                          filterBy="label"
                          [showClear]="true"
                        >
                          <ng-template let-group pTemplate="group">
                            <div class="flex align-items-center">
                              <span>{{ group.label }}</span>
                            </div>
                          </ng-template>
                        </p-dropdown>

                        <!-- <p-dropdown
                          [group]="true"
                          [options]="groupedServices"
                          optionLabel="label"
                          [filter]="true"
                          filterBy="label"
                          [showClear]="true"
                          placeholder="Select a Service"
                        >
                          <ng-template
                            pTemplate="selectedItem"
                            let-selectedOption
                          >
                            <div class="flex align-items-center gap-2">
                              <div>{{ selectedOption.label }}</div>
                            </div>
                          </ng-template>
                          <ng-template let-service pTemplate="item">
                            <div class="flex align-items-center gap-2">
                              <div>{{ service.label }}</div>
                            </div>
                          </ng-template>
                        </p-dropdown> -->
                      </td>
                      <td>
                        <input class="form-control" />
                      </td>
                      <td>
                        <input class="form-control" />
                      </td>
                      <td>
                        <input class="form-control" />
                      </td>
                      <td>
                        <input class="form-control" />
                      </td>
                      <td>
                        <input class="form-control" />
                      </td>
                      <td>
                        <input class="form-control" />
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="12">
                        <button type="button" class="btn btn-gradient-success">
                          <i class="mdi mdi-plus"></i>
                        </button>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label>Summary Total</label>
                <input class="form-control" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>Summary Tax</label>
                <input class="form-control" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>Summary Net Total</label>
                <input class="form-control" />
              </div>
            </div>
            <div class="col-lg-12">
              <br />
              <button class="btn btn-success" type="submit">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
