<div class="row justify-content-center">
<div class="col-md-3 grid-margin">
<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12">
              <img  id="mainImage" src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded" alt="image">
            </div>
          </div>
          <!-- <div class="row justify-content-center mt-3">
            <div class="col-3">
              <img src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded icon-image" alt="icon1" onclick="changeImage('assets/images/dashboard/img_2.jpg')">
            </div>
            <div class="col-3">
              <img src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded icon-image" alt="icon2" onclick="changeImage('assets/images/dashboard/img_3.jpg')">
            </div>
            <div class="col-3">
                <img src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded icon-image" alt="icon2" onclick="changeImage('assets/images/dashboard/img_3.jpg')">
              </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12 grid-margin stretch-card text-center">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
                <th>Name</th>
                <td>Sikandar</td>
              </tr>
              <tr>
                <th>Contact</th>
                <td>03234022022</td>
              </tr>
              <tr>
                <th>Company</th>
                <td>Tradetracker</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="col-md-3 grid-margin">
    <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-12">
                  <img id="mainImage" src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded" alt="image">
                </div>
              </div>
              <!-- <div class="row justify-content-center mt-3">
                <div class="col-3">
                  <img src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded icon-image" alt="icon1" onclick="changeImage('assets/images/dashboard/img_2.jpg')">
                </div>
                <div class="col-3">
                  <img src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded icon-image" alt="icon2" onclick="changeImage('assets/images/dashboard/img_3.jpg')">
                </div>
                <div class="col-3">
                    <img src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded icon-image" alt="icon2" onclick="changeImage('assets/images/dashboard/img_3.jpg')">
                  </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12 grid-margin stretch-card text-center">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <td>Sikandar</td>
                  </tr>
                  <tr>
                    <th>Contact</th>
                    <td>03234022022</td>
                  </tr>
                  <tr>
                    <th>Company</th>
                    <td>Tradetracker</td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      <div class="col-md-3 grid-margin">
        <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <img id="mainImage" src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded" alt="image">
                    </div>
                  </div>
                  <!-- <div class="row justify-content-center mt-3">
                    <div class="col-3">
                      <img src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded icon-image" alt="icon1" onclick="changeImage('assets/images/dashboard/img_2.jpg')">
                    </div>
                    <div class="col-3">
                      <img src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded icon-image" alt="icon2" onclick="changeImage('assets/images/dashboard/img_3.jpg')">
                    </div>
                    <div class="col-3">
                        <img src="assets/images/dashboard/img_1.jpg" class="mw-100 w-100 rounded icon-image" alt="icon2" onclick="changeImage('assets/images/dashboard/img_3.jpg')">
                      </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12 grid-margin stretch-card text-center">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <td>Sikandar</td>
                      </tr>
                      <tr>
                        <th>Contact</th>
                        <td>03234022022</td>
                      </tr>
                      <tr>
                        <th>Company</th>
                        <td>Tradetracker</td>
                      </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>

</div>